# Label Encoding

In [3]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
enc = LabelEncoder()
enc.fit_transform()

# Min_Max Scaler

In [8]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

In [12]:
d = { "X":[10,20,30,40,50],
    "y": [25,75,89,99,125]
    }
df = pd.DataFrame(d)
df.head()

    X    y
0  10   25
1  20   75
2  30   89
3  40   99
4  50  125

In [18]:
mm_scale = MinMaxScaler(feature_range=(0,1))
mm_scale.fit_transform(df[["X"]])

array([[0.  ],
       [0.25],
       [0.5 ],
       [0.75],
       [1.  ]])

In [30]:
df[["X"],["y"]] = mm_scale.fit_transform(df)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [26]:
type(df)

numpy.ndarray

# Function transformer

In [ ]:
import numpy as np
from sklearn.

# Handling outlier

In [34]:
import pandas as pd
import numpy as np

In [36]:
houses = pd.DataFrame()
houses['Price'] = [10000,20000,30000,44588745]
houses['rooms'] = [2,3,2,116]
houses['square_feet'] = [1500, 2500, 1500, 2248000]

In [44]:
houses

   Price  rooms  square_feet
0  10000      2         1500
1  20000      3         2500
2  30000      2         1500
3  20000    116        48000

In [48]:
houses["Outlier"] = np.where(houses["rooms"]<20, 0 , 1)
houses

   Price  rooms  square_feet  Outlier
0  10000      2         1500        0
1  20000      3         2500        0
2  30000      2         1500        0
3  20000    116        48000        1

# Imputing missing values

In [61]:
students = {
    [85,'M' 'Very good'],
    [90,'F', 'Average'],
    [np.nan, 'M', 'Good'],
    [np.nan, 'F', 'Very Good'],
}

TypeError: unhashable type: 'list'

In [53]:
from sklearn.impute import SimpleImputer

In [57]:
si = SimpleImputer(
        missing_values = np.nan,
        strategy = 'mean'
)

In [ ]:
si.fit_transform()